.footer-row {
	background-color: $lesbotoc;
}

.copyright-katja {
	& a {
		text-decoration: none;
		&:hover {
			color: white !important;
		}
	}
}

.admin-panel-button {
	background-color: $dark-petrol;
	color: white;
}

@media only screen and (max-width: 600px) {
	.footer-row {
		background-color: $lesbotoc;
	}
	.copyright-katja {
		display: flex;
		flex-direction: column;
		align-items: center !important;
	}
	
	.admin-panel-button {
		margin-bottom: 1rem;
	}
}
