.navbar-wrapper {
	background-color: $lesbotoc !important;
	position: relative;
	width: 100%;
	z-index: 110;
}

.logo-container {
	& p {
		font-family: 'Amatic SC', cursive;
		font-size: 22px;
		color: black;
		font-weight: 600;
		margin-bottom: 0;
	}
}

//mobile-navbar
.mobile-navbar-wrapper {
	background-color: $lesbotoc !important;
	display: flex;
	justify-content: flex-end;
	width: 100%;
		
		& .navbar-link {
		
			& a {
				text-decoration: none !important;
				color: $dark-petrol;
			}
		}

}
