//using grid to make grid for bubbles
.bubble-grid {
  margin-top: 10px;
  width: 130px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.bubble {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b84639;
}
