.user-contact-container {
  width: 100%;
  height: 100vh;
  background-color: #7ab6cb;
  display: flex;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  background-image: url("../../../assets/first-wave.svg");
  background-size: cover;
}

.contact-title-container {
  @include center-object;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $text-bg-color;
  color: $text-color;
  position: absolute;
  top: 90px;
  left: 60px;
  box-shadow: 5px 5px 5px 3px #fb9644bf;
  font-family: $title-font;
  color: #feebdd;
  & h2 {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.user-contact-cont {
  @include center-object;
  background-color: #5f8c6b;
  background-color: $text-bg-color;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 60px auto;
  box-shadow: 5px 5px 5px 3px rgba(191, 156, 133, 0.75);
}

.contact-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: $text-bg-color;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 3px rgba(191, 156, 133, 0.75);
}

.user-contact-item {
  display: flex;
  margin: 20px;
  display: flex;
  align-items: center;
  & svg {
    margin-right: 10px;
  }

  & input,
  textarea {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    border: none;
    resize: none;
    background-color: transparent;
    border: #fb9644 solid 2px;
    color: $text-color;
  }

  & ::placeholder {
    font-style: normal;
    color: $text-color;
    opacity: 0.4;
  }

  & input {
    height: 50px;
  }

  & textarea {
    height: 150px;
  }

  & input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid $lesbotoc;
  }
}

.user-contact-btn-cont {
  @include center-object;

  button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #fb9644;
    color: $text-color;
    font-size: 1.2rem;
    &:hover {
      background-color: $lesbotoc;
      color: $dark-petrol;
    }
  }
}

.contact-icon {
  width: 200px;
  @include center-object;
  margin: 10px;
  font-size: 1rem;
  & a {
    color: $text-color;
  }
}

.contact-icon-email,
.contact-icon-phone {
  border: 2px #fb9644 solid;
  border-radius: 15px;
  padding: 5px;

  &:hover {
    background: $lesbotoc;
  }

  & a:hover {
    color: $dark-petrol;
    text-decoration: none;
  }
}

.contact-icon-fb-insta {
  width: 10vw;
  @include center-object;
}

/*ANIMATIONS*/

.contact-title-container {
  -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.contact-icon-container {
  -webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1)
    0.7s both;
  animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 0.7s
    both;
}

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
