.user-footer-container {
  background: $lesbotoc;
  height: 60px;
  z-index: 100;
}

.user-footer-cont {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $dark-petrol;
}

.user-footer-copyright {
  width: 30%;
  display: flex;
  align-items: center;

  & a {
    color: $dark-petrol;
  }

  & p {
    display: flex;
    margin: 0;
  }
}

.user-footer-newsletter {
  width: 30%;
  display: flex;
  justify-content: space-between;

  & p {
    margin-bottom: 0;
  }
}

.user-footer-admin {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-panel-button {
  background-color: $dark-petrol;
  color: white;
}

.user-footer-social {
  padding-left: 50px;
}
