.user-gallery-cont {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}

.box-gallery1 {
  position: absolute;
  z-index: 1;
  top: 390px;
  left: 0;
}

.box-gallery2 {
  position: absolute;
  z-index: 1;
  top: 1050px;
  right: 600px;
}

.bubbles-gallery1 {
  position: absolute;
  left: 0;
  top: 700;
}
.bubbles-gallery2 {
  position: absolute;
  left: 1050px;
  top: 175px;
}

.bubbles-gallery3 {
  position: absolute;
  left: 65px;
  top: 900px;
}

.user-img-cont {
  width: 300px;
  height: 300px;
  padding-top: 30px;
  background-color: $user-beige-light;
  box-shadow: 5px 5px 5px #003243;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.user-gallery-img {
  width: 250px;
  height: 170px;
}

.user-img-title {
  font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: $dark-petrol;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 30px;
}
