.home-container {
  margin-top: -320px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  width: 90vw;
}

.logo-cont {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-top: 120px;
}
.home-cont {
  width: 70vw;
  display: flex;
  padding: 25px;
  height: fit-content;
}

.home-card {
  height: 350px;
  background: $lesbotoc;
  margin: 10px;
  flex: 1;
  transition: 0.4s;
  filter: grayscale(100%);
  background-size: cover;
}

.home-card:hover {
  flex: 4;
  filter: none;
  background-size: cover;
}

.home-card-images {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.knizni-card {
  background-image: url("../../../../public/img/home/book-club-min.jpg");
  margin-top: 50px;
}

.deskovky-card {
  background-image: url("../../../../public/img/home/deskovky-min.jpg");
  margin-top: 25px;
}

.bowling-card {
  background-image: url("../../../../public/img/home/bowling-min.jpg");
  margin-top: 75px;
}

.music-card {
  background-image: url("../../../../public/img/home/music-quiz-min.jpg");
}

.camp-card {
  background-image: url("../../../../public/img/home/cottage-min.jpg");
  margin-top: 25px;
}

.svarek-card {
  background-image: url("../../../../public/img/home/svaracek-min.jpg");
  margin-top: 50px;
}

.speed-card {
  background-image: url("../../../../public/img/home/speed-dating-min.jpg");
  margin-top: 25px;
}

.home-cont a {
  display: flex;
  align-items: flex-end;
  writing-mode: vertical-rl;

  &:hover {
    text-decoration: none;
  }
}

.more-card {
  height: 50%;
  width: 100%;
  background-color: $lesbotoc;
  color: $user-beige-light;
  filter: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1em;
}

.dynamic-title-cont {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

.dynamic-home-title {
  background-color: $user-beige-dark;
  min-height: 150px;
  font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
  color: $dark-petrol;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
}

.logo-cont-text {
  color: $dark-petrol;
}

/*----------------------------
animations
----------------------------*/
.logo-cont-logo {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
  shape-rendering: optimizeSpeed;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.logo-cont-text {
  -webkit-animation: slide-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    both;
  animation: slide-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
