.home-container {
  height: 100vh;
  margin-top: -300px;
}
.home-cont {
  display: flex;
  padding: 50px;
  // min-width: 80%;
  // height: 90vh;
}

.home-card {
  height: 350px;
  background: $lesbotoc;
  margin: 10px;
  flex: 1;
  transition: 0.4s;
  filter: grayscale(100%);
  background-size: cover;
}

.home-card:hover {
  flex: 3;
  // background: $lesbotoc-dark;
  filter: none;
  background-size: cover;
}

.home-card-images {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.knizni-card {
  background-image: url("../../../../public/img/home/book-club-min.jpg");
}

.deskovky-card {
  background-image: url("../../../../public/img/home/deskovky-min.jpg");
}

.bowling-card {
  background-image: url("../../../../public/img/home/bowling-min.jpg");
}

.music-card {
  background-image: url("../../../../public/img/home/music-quiz-min.jpg");
}

.camp-card {
  background-image: url("../../../../public/img/home/cottage-min.jpg");
}

.svarek-card {
  background-image: url("../../../../public/img/home/svaracek-min.jpg");
}

.speed-card {
  background-image: url("../../../../public/img/home/speed-dating-min.jpg");
}

.more-card {
  //
}

.dynamic-home-title {
  font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
  color: $dark-petrol;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
  animation: none;
}
