.user-navbar-container {
  background-color: $user-beige-light;
  height: 40px;
  z-index: 100;
}

.user-navbar-cont {
  width: 90%;
  height: 100%;
  background-color: $user-beige-light;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navbar-symbols {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;

  & a {
    display: flex;
    align-items: center;
  }

  & p {
    text-align: center;
  }
}

.logo-bubbles {
  width: 24px;
  height: 24px;
}

.logo-home {
  margin-right: 100px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: $lesbotoc;
}

.navbar-searchbar {
  width: 30%;
}

.navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  // color: $dark-petrol;
}

.user-navbar-fb,
.user-navbar-insta {
  align-self: center;
  margin-left: 20px;

  & path {
    color: $lesbotoc;
  }
}
