//repeating scss patterns and their classNames
.user-title {
  font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  line-height: 50px;
  color: $dark-petrol;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.user-container {
  background-color: #feebdd;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.user-paragraph {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: $dark-petrol;
  text-align: left;
}

.opaque-bg-box {
  background-color: #7ab6cb40;
  position: absolute;
  z-index: 1;
}

.opaque-box {
  background-color: #7ab6cb40;
}

//changing color of bubble-grid

.blue-bubble {
  color: $dark-petrol;
}

.red-bubble {
  color: #b84639;
}

.lesbotoc-bubble {
  color: $lesbotoc;
}
