//global styling

.screen-wrapper {
	position: relative;
	background-color: $user-beige-dark;
	color: $dark-petrol;
	height: 100vh;
}

.screen-title {
	padding-top: 15vh;
	padding-bottom: 10vh;
	font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 50px;
	color: $dark-petrol;
}

.btn {
	border-radius: 0;
}

.user-container {
background-color: #feebdd;
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
}

@media only screen and (max-width: 768px) {
// .screen-title {
// 	margin: unset;

// }
}
