.pencil-item,
.trash-item {
  margin: 5px;
  cursor: default;
}

.trash-item {
  color: white;
  background-color: #dc3545;
  padding: 1%;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

.pencil-item {
  color: white;
  background-color: $lesbotoc;
  padding: 1%;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}
