//heading-font: 'Amatic SC', cursive;
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

//user-colours:
$lesbotoc: #7ab6cb;
$user-red: #eb5a49;
$lesbotoc-dark: #4d8eb5;
$user-beige-light: #f5efea;
$user-lightred: #ed7f71;
$dark-petrol: #003243;
$user-almostblack: #2c353c;

// other colours:
$brown: #9a4700;
$light-blue: #e6f4f1;
$user-beige-medium: #feebdd;
$user-beige-dark: #f5e2d3;
$user-darkred: #b84639;

//admin-input:
$input-look: #7ab6cb solid 2px;
$title-font: "Amatic SC", cursive, Arial;
$text-font: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
$backdrop-filter: blur(0.5px);
$box-shadow: 0px 10px 15px -5px rgba(122, 182, 203, 0.75);
$triangle-color: linear-gradient(179deg, #85cde7 0%, #ca7d61 100%);

//mixins:
@mixin center-object {
  display: flex;
  justify-content: center;
  align-items: center;
}

//new color palette
$text-bg-color: #304635;
$text-color: #feebdd;

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  // background-color: $user-beige-light;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
