.lesbotoc-adminnavbar-logo {
  width: 70px;
  height: 40px;
  padding: 10px;
  background-color: #e6f4f1;
  border-radius: 3px;
}

// .container {
//   width: 100%;
//   justify-content: space-between;
//   background-color: #003243;
//   color: #e6f4f1;
//   margin: 0;
//   padding: 0;
// }

.navbar-brand p {
  color: #e6f4f1;
  align-self: center;
  margin-bottom: 0;
  margin-left: 10px;
}

.navbar-brand {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: #e6f4f1;
  margin: 0 20px;
}

.nav-link:hover {
  color: #7ab6cb;
}

.admin-navbar {
  background-color: #003243;
  box-shadow: $box-shadow;
}
.admin-nav {
  justify-content: center;
  // margin: 0;
  padding: 0;
  // min-width: 100%;
  display: flex;
  margin: auto;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logout-cont {
  display: flex;
  flex-direction: row;
}

.logout-btn {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn p {
  margin-bottom: 0;
  margin-left: 5px;
  display: flex;
  justify-self: center;
  line-height: 35px;
}

.hamburger-btn {
  display: none;
}

.mobil-nav-cont {
  display: none;
}

/*for mobiles*/
@media (max-width: 600px) {
  .admin-navbar {
    width: 100vw;
  }
  .hamburger-btn {
    display: block;
    position: fixed;
    left: 10px;
    border-radius: 50%;
  }

//   .container {
//     display: flex;
//     flex-direction: column;
//     align-content: flex-start;
//     font-size: 0.7em;
//   }

  .mobil-nav-cont {
    display: block;
    margin: 5px;
  }

  .admin-nav {
    margin-left: 10px;
    align-content: left;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-nav {
    margin-top: 30px;
    display: none;
    flex-direction: column;

    & .nav-link {
      margin-left: 0;
    }
  }

  .show {
    display: flex;
    align-items: flex-start;
  }
  .logout-cont {
    padding: 10px 0;
  }
  .logout-btn {
    width: 50px;
    display: flex;
    align-content: center;

    & svg {
      width: 18px;
    }
    & p {
      display: none;
    }
  }
}
