.td,
th {
  text-align: left;
}

.contacts__table {
  width: 90%;
  margin: auto;
  color: $dark-petrol;
}

.td-crud {
  display: flex;
  justify-content: space-evenly;
}

.contacts-title {
  width: 90%;
  margin: auto;
  padding-top: 120px;
  display: flex;
  margin: auto;
}

.table__container-top {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.btn-create {
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 20px;
}

/*Add Contact Container*/
.hide {
  display: none;
}

.show {
  display: block;
  width: 100%;
}

.create-cont {
  width: 100%;
}

.form-cont {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-cont form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-cont {
  display: flex;
}

::placeholder {
  font-size: 0.75em;
  font-style: italic;
  color: rgb(204, 199, 199);
}

.form-group .input-item:focus {
  outline: none;
  border: #7ab6cb solid 2px;
}

.delete-btn::before {
  content: "&#1F5D1";
}

.alert-message {
  width: 30%;
  text-align: start;
  z-index: -10;
}

input {
  caret-color: red;
}

.table-row:nth-child(odd) {
  background-color: $light-blue;
}
