.table-body-contacts td,
.table-body-contacts th {
  text-align: left;
  padding-left: 5px;
  font-size: 0.9em;
  max-height: 45px;
}

thead .table-hr {
  text-align: left;
}

.contacts__table {
  width: 90%;
  margin: auto;
  color: $dark-petrol;
}

.td-crud {
  display: flex;
  justify-content: space-evenly;
}

.admin-page-title {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.table__container-top {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.btn-create {
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 20px;
}

/*Add Contact Container*/
.hide {
  display: none;
}

.show {
  display: block;
  width: 100%;
}

.create-cont {
  width: 100%;
  background-color: #e6f4f1;
  margin-bottom: 20px;
}

.form-cont {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-cont form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  & .contacts-input {
    width: 170px;
    margin-right: 5px;
  }

  & .contacts-input-check {
    margin-left: 10px;
  }
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-right: 16px;
}

.checkbox-cont {
  display: flex;
}

::placeholder {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 400;
  color: rgb(204, 199, 199);
}

.form-group .input-item:focus {
  outline: none;
  border: #7ab6cb solid 2px;
}

.delete-btn::before {
  content: "&#1F5D1";
}

.alert-message {
  width: 30%;
  text-align: start;
  z-index: -10;
}

input {
  caret-color: red;
}

.table-row:nth-child(odd) {
  background-color: $light-blue;
}

/*EditContacts*/

.edit-contacts-modal {
  margin-top: 20px;
}

.add-contact-btn-cont {
  display: flex;
  justify-content: space-between;
}

.contact-edit-cont-btn {
  display: flex;
  justify-content: space-between;
}

/*Export Contacts*/

.btn-export {
  background-color: $lesbotoc;
}

/*for mobiles*/

@media (max-width: 600px) {
  .btn-export {
    display: none;
  }

  .admin-page-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  //Searchbar
  .search-input {
    max-width: fit-content;
  }

  .edit-list {
    max-width: 300px;
    margin: auto;
  }

  .edit-list-item {
    width: 100%;
    margin: 5px;
  }

  .edit-list-item-email {
    display: none;
  }

  //AddContact
  .btn-create {
    margin-top: 20px;
    font-size: 0.7em;
  }

  .save-btn {
    font-size: 0.7em;
  }

  .form-container form {
    display: flex;
    flex-direction: column;

    & label,
    input {
      font-size: 0.7em;
    }
  }

  .checkbox-cont {
    display: flex;
    align-items: flex-start;
  }

  //ContactsList
  .col-wherefrom,
  .col-email,
  .col-newsletter,
  .col-age,
  .col-updated,
  .col-edit,
  .td-wherefrom,
  .td-email,
  .td-newsletter,
  .td-age,
  .td-updated {
    display: none;
  }

  .contacts__table {
    width: 350px;
    font-size: 0.7em;

    & td {
      padding: 0 5px;
      height: 25px;

      & button {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //EditModal
  .edit-button,
  .edit-btn {
    font-size: 0.7em;
  }
}
