.edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-modal-content {
  margin-top: 50px;
  width: 500px;
  height: 400px;
  background-color: $lesbotoc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $dark-petrol 2px solid;
}

.edit-modal-header,
.edit-modal-footer {
  padding: 10px;
}

.edit-modal-title {
  margin: 0;
}

.edit-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
}

.edit-modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.add-modal {
  background-color: $lesbotoc;
}

.edit-modal-body form {
  display: flex;
  flex-direction: column;
}

.edit-input {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

.edit-input input {
  margin-left: 50px;
}
