.edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}

.edit-event-modal {
  max-height: 500px;
  font-size: 14px;
}

.edit-modal-content {
  margin-top: 100px;
  width: max-content;
  height: max-content;
  background-color: $lesbotoc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 50, 67, 0.5);
}

.edit-modal-header,
.edit-modal-footer {
  padding: 5px;
  margin: 0;
}

.edit-modal-title {
  margin: 0;
}

.edit-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
}

.edit-modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.add-modal {
  background-color: $lesbotoc;
}

.edit-modal-body form {
  display: flex;
  flex-direction: column;
}

.edit-input-cont {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

.edit-input-cont input {
  margin-left: 50px;
}

.edit-btn {
  width: 100px;
}

.edit-input {
  outline: none;
  border: $input-look;
}

.datalist-item:focus {
  outline: none;
  border: #7ab6cb solid 2px;
}

.edit-cont-top {
  display: flex;
}

.edit-event-body {
  margin: 10px;
}

.edit-cont-top-left,
.edit-cont-top-right {
  width: 50%;
  margin: 10px 10px;
}

.edit-cont-top-left span {
  color: #dc3545;
  font-size: small;
  margin: 0;
  padding: 0;
  float: left;
}

.edit-price-cap,
.edit-date-time {
  display: flex;
  justify-content: space-between;

  & input {
    width: 50%;
  }
}

.edit-cont-bottom {
  display: flex;
}

.instructions-cont {
  width: 30%;
  display: flex;
  flex-direction: column;

  & textarea {
    resize: none;
    height: 150px;
  }
  & label {
    align-self: flex-start;
  }
}

.description-cont {
  display: flex;
  flex-direction: column;
  width: 60%;

  & textarea {
    resize: none;
    height: 150px;
  }
  & label {
    align-self: flex-start;
  }
}

.edit-cont-btn {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
