/*Events*/

.events-title {
  width: 90%;
  margin: auto;
  padding-top: 120px;
  display: flex;
  margin: auto;
}

.events-container {
  display: flex;
  width: 90%;
  margin: auto;
}

/*EventsList*/

.events-cont-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
}

.eventlist-btn {
  margin: 10px 0;
  padding: 10px;
}
