/*Events*/

.events-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.archive-btn {
  margin-bottom: 10px;
}

.archive-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
/*EventsList*/

.events-cont-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
}

.eventlist-btn {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  background-color: $light-blue;
  color: $dark-petrol;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.eventlist-btn h6,
.eventlist-btn p {
  margin: 0;
  padding: 0;
}

.events-cont-right {
  width: 70%;
  background-color: $light-blue;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name-date-cont {
  width: 100%;
  text-align: justify;
}

.name-date-cont h6,
.name-date-cont p {
  font-size: 0.8em;
}

.events-btn-cont {
  display: flex;
  align-items: center;
  height: 100%;
}

/*EditEvent*/

.events-provisorium {
  display: flex;
  flex-direction: column;
}

.edit-input-pic {
  margin-top: 10px;
  height: 100px;
  width: fit-content;
}

/*EventsArchive*/
.td-name {
  font-weight: 600;
}

.archive-container {
  margin-top: 20px;
  font-size: 0.9em;
}

.archive-btn-cont {
  display: flex;
}
