/*Events*/

.events-title {
  width: 90%;
  margin: auto;
  padding-top: 120px;
  display: flex;
  margin: auto;
}

.events-container {
  display: flex;
  width: 90%;
  margin: auto;
}

/*EventsList*/

.events-cont-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 20px;
}

.eventlist-btn {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  background-color: $light-blue;
  color: $dark-petrol;
}

.eventlist-btn h6,
.eventlist-btn p {
  margin: 0;
  padding: 0;
}

.events-cont-right {
  width: 80%;
  background-color: $light-blue;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pencil-item,
.trash-item {
  margin: 5px;
  cursor: default;
}

.trash-item {
  color: red;
}

.pencil-item {
  color: green;
}

/*EditEvent*/

.events-provisorium {
  display: flex;
  flex-direction: column;
}
