/*Events*/

.events-container {
  display: flex;
  width: 90vw;
  margin: auto;
}

.archive-btn {
  margin-bottom: 10px;
  max-width: 250px;
}

.archive-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
/*EventsList*/

.events-cont-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
}

.eventlist-btn {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 250px;
  background-color: $light-blue;
  color: $dark-petrol;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.eventlist-btn h6,
.eventlist-btn p {
  margin: 0;
  padding: 0;
}

.events-cont-right {
  width: 90%;
  background-color: $light-blue;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name-date-cont {
  width: 100%;
  text-align: justify;
}

.name-date-cont h6,
.name-date-cont p {
  font-size: 0.8em;
}

.events-btn-cont {
  display: flex;
  align-items: center;
  height: 100%;
}

/*EditEvent*/

.events-provisorium {
  display: flex;
  flex-direction: column;
}

.edit-input-pic {
  margin-top: 10px;
  height: 100px;
  width: fit-content;
}

/*EventsArchive*/
.td-name {
  font-weight: 600;
}

.archive-container {
  margin-top: 20px;
  font-size: 0.9em;
}

.archive-btn-cont {
  display: flex;
}

/*AddEvent*/
.events-cont-right form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.event-title-cont {
  display: flex;
  align-items: center;
}

.add-event-title {
  padding: 20px 20px 0 20px;
  align-self: flex-start;
}

.event-title,
.event-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}

.event-title {
  & input {
    width: 250px;
    font-weight: 700;
  }
}

.event-type {
  & input,
  label {
    font-weight: 400;
    margin-left: 25px;
  }
}

.venue-details {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  & .venue-details-name,
  .venue-details-address,
  .venue-details-website,
  .venue-details-latitude,
  .venue-details-longitude,
  .venue-details-instructions {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.venue-details-instructions textarea {
  height: 70px;
}

.time-date {
  width: 250px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .time-date-date,
  .time-date-time {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.price-capac,
.event-pic {
  width: 250px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  & input {
    width: 120px;
  }
  & .price-capac-price,
  .price-capac-capac {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.specifics-cont {
  display: flex;
}

.specifics {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 10px;
  margin-left: 20px;
  width: 550px;
  & textarea {
    height: 300px;
    resize: none;
  }
}

.caption-price-capac {
  font-size: 0.7em;
}

.add-event-form .form-label {
  margin-bottom: 4px;
  font-size: 0.8em;
}

.event-pic {
  display: flex;
  flex-direction: column;

  & label,
  a {
    font-size: 0.8em;
    margin: 0;
    align-self: flex-start;
  }

  & label {
    margin-top: 10px;
  }
  & a {
    text-decoration: underline;
    margin-top: 10px;
  }

  & input {
    width: max-content;
  }
}

.event-upload-btn {
  font-size: small;
}

.archive-mobile-btn {
  display: none;
}

/*-------------------------------
FOR MOBILES
-------------------------------*/
@media (max-width: 600px) {
  //Events
  .events-cont-left {
    display: none;
  }

  .events-container {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;

    & input {
      height: 70%;
    }
  }

  .events-cont-right {
    width: 300px;
    margin: 20px auto;
  }
  .archive-mobile-btn {
    display: block;
    width: 90%;
    margin: auto;
  }

  //AddEvent
  .input-item {
    max-width: 220px;
  }

  .venue-details,
  .specifics-cont {
    display: flex;
    flex-direction: column;
  }

  .specifics-cont .description {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 250px;
    margin: 5px auto;

    & label {
      align-self: flex-start;
    }
  }

  .add-event-save {
    margin-top: 10px;
    font-size: 0.7em;
  }

  //EventsArchive
  .col-address,
  .col-website,
  .col-price,
  .col-descr,
  .col-capac,
  .td-locadd,
  .td-locweb,
  .td-price,
  .td-capac,
  .td-descr {
    display: none;
  }

  .archive-btn-cont svg {
    height: 10px;
  }

  //EditEventModal
  .edit-event-modal {
    margin-top: 30px;
  }
  .edit-cont-top {
    flex-direction: column;
  }

  .edit-event-span p {
    font-size: 0.7em;
  }

  .description-cont textarea {
    height: 80px;
  }
}

// @media screen and (min-width: 1900px)
