.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 100px;
}

.btn-news {
  margin: 20px;
  width: 250px;
}
