// Global styling
.screen-wrapper {
	position: relative;
	background-color: $user-beige-dark;
	color: $dark-petrol;
	height: 100vh;
}

.screen-title {
	padding-top: 15vh;
	padding-bottom: 10vh;
	font-family: 'Amatic SC', sans-serif, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 5.5rem;
	color: $dark-petrol;
}

.btn {
	border-radius: 0;
}

@media only screen and (max-width: 768px) {
	.screen-wrapper {
		max-width: 100%;
		overflow-x: hidden;
		& .screen-title {
			padding: 10vh 10% 10vh;
		}
	}
}
