.user-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../public/img/icons/patternpad.png);
}

.user-title {
  margin-top: 200px;
  color: orangered;
}

.admin-panel-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #7ab6cb;
  border: 10px #9a4700 solid;
  font-size: larger;
  font-weight: 700;
  color: #9a4700;
  overflow-wrap: break-word;
  & p {
    margin: 0;
  }
}
