/* ------ Calendar.js ------ */
.events-container {
	position: relative;
	.bi-square {
		overflow: hidden;
		&.blue::before {
			background-color: $lesbotoc;
		}
		&.grey::before {
			background-color: #3fc16f;
		}
		&.red::before {
			background-color: #ed7f71;
		}
	}
}

.grid-wrapper {
	margin-bottom: 50px;
	place-items: center;
	text-align: left;
	width: 60vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;

	& a {
		text-decoration: none;
		color: $dark-petrol;
		&:hover {
			color: white;
		}
		
		& .card {
			border-radius: 0;
		}

		& .card-text {
			position: absolute;
			bottom: 0;
			margin-bottom: 0.5rem;

			& span {
				width: 8rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.grid-wrapper {
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
		place-content: center;
		
		& .card {
			width: 20rem !important;
			height: 10rem !important;
			font-size: 1rem;
		}
	}
	
	.events-container .categories {
		display: none !important;
	}
}

/*-------------------------------------------------------------------------------------
SingleCalenderEvent.js
--------------------------------------------------------------------------------------*/
.event-container {
	position: relative;
	overflow-x: hidden;
	p {
		text-align: left;
	}
	.event-info {
		position: relative;
		.info-column {
			z-index: 2;
			background-color: $light-blue;
			
			& div:last-child {
				margin-top: auto;
			}
		}
	}
		
	.event-info::before {
		content: "";
		background-image: url("../../assets/calendar_images/cafe-above.jpg");
		background-size: cover;
		opacity: 0.15;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		pointer-events: none; //make button still clickable with bg image::before
		}

	.info-column {
		position: relative;
		box-shadow: $box-shadow-lesbotoc;
	}

	.image-column {
		z-index: 20;
		opacity: unset;
	}

	.event-website {
		text-decoration: none;
		color: $dark-petrol;
		&:hover {
			color: $lesbotoc;
		}
	}
	
	.add-event-dropdown {
		top: 0;
		right: 0;
		font-size: 0.8rem !important;
		.btn:focus, .btn:active {
			box-shadow: none;
		}
		.dropdown-item {
			display: inline-block;
			&:focus {
				outline: none;
				background-color: $lesbotoc;
			}
		}
		.dropdown-menu {
			right: 0;
			border-radius: 0;
			padding: 0;

			transform: translateY(-10px);
			opacity: 0;
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
			&.show {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
	
	.gmaps-wrapper {
		& iframe {
			border: none;
			box-shadow: $box-shadow-img;
		}
	}
	
	.btn.back-btn {
		background-color: $lesbotoc;
		border: none;
		&:hover {
			color: $dark-petrol;
		}
		
		&.orange-btn {
			background-color: #eb5a49;
		}
		&.yellow-btn {
			background-color: #ec9704;
		}
	}
}

@media only screen and (max-width: 768px) {
	.event-website {
		display: inline-block;
		max-width: 200px;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.add-event-dropdown {
		& p {
			display: none;
		}

		& .btn-secondary {
			border-radius: 50%;
			& i {
				margin-right: unset !important;
			}
		}

		& .dropdown-menu {
			min-width: unset;
			width: 3rem;
			background-color: $light-blue;
			border: none;

			&.show {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			& .dropdown-item {
				border: $lesbotoc 1px solid;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				& svg {
					margin-right: 0 !important;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------------------
SignupForm.js
--------------------------------------------------------------------------------------*/
.signup-container {
	max-width: fit-content;
	max-height: 80vh;
	
	& .modal {
		border: 2px brown solid;
	}
	
	& h5 {
		font-family: $title-font;
		font-weight: 600;
		font-size: 3rem;
	}
	
	& .modal-body {
		background-color: $user-beige-light;
		text-align: left;
		& p {
			font-size: 0.8rem;
		}
	}
	
	& .modal-content {
		width: 40vw;
		
		& input::placeholder {
			color: grey;
			font-size: 0.7rem;
		}
	}
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
}

@media only screen and (max-width: 768px) {
	.signup-container {

		& .modal-content {
			width: unset;
			margin: 20vh 2vw 0;
		}
		
		& .basic-info {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
