.footer-wrapper {
	background: $lesbotoc;
	height: 80px;
	z-index: 20;
}

.copyright-katja {
	& a:hover {
		text-decoration: none;
	}
}

.admin-panel-button {
	background-color: $dark-petrol;
	color: white;
}

@media only screen and (max-width: 600px) {
	.copyright-katja {
		display: flex;
		flex-direction: column;
		align-items: center !important;
	}
	
	.admin-panel-button {
		margin-bottom: 1rem;
	}
}
