/*-------------------------------------------------------------------------------------
Calendar.js
--------------------------------------------------------------------------------------*/
.calendar-title {
	background-color: unset !important;
}

.events-container {
	position: relative;
	.bi-square {
		overflow: hidden;
		&.blue::before {
			background-color: $lesbotoc;
		}
		&.grey::before {
			background-color: #3fc16f;
		}
		&.red::before {
			background-color: #ed7f71;
		}
	}
}

.grid-wrapper {
	margin-bottom: 50px;
	place-items: center;
	text-align: left;
	width: 60vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;

	& a {
		text-decoration: none;
		color: $dark-petrol;
		&:hover {
			color: white;
		}
		
		& .card-text {
			position: absolute;
			bottom: 0;
			margin-bottom: 0.5rem;

			& span {
				width: 8rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.grid-wrapper {
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
		place-content: center;
		
		& .card {
			width: 20rem !important;
			height: 10rem !important;
			font-size: 1rem;
		}
	}
	
	.events-container .categories {
		display: none !important;
	}
}

/*-------------------------------------------------------------------------------------
SingleCalenderEvent.js
--------------------------------------------------------------------------------------*/
.event-container {
	overflow-x: hidden;
	p {
		text-align: left;
	}
	.event-info {
		position: relative;
		.info-column {
			z-index: 2;
			background-color: $light-blue;
			
			& div:last-child {
				margin-top: auto;
			}
		}
	}
		
	.event-info::before {
		content: "";
		background-image: url("../../../assets/calendar_images/cafe-above.jpg");
		background-size: cover;
		opacity: 0.15;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		pointer-events: none; //make button still clickable with bg image::before
		}
		
	.info-column {
		position: relative;
		box-shadow: $box-shadow-lesbotoc;
	}

	.event-website {
		text-decoration: none;
		color: $dark-petrol;
		&:hover {
			color: $lesbotoc;
		}
	}
	
	.add-event-dropdown {
		top: 0;
		right: 0;
		font-size: 0.8rem !important;
		.btn:focus, .btn:active {
			box-shadow: none;
		}
		.dropdown-item {
			display: inline-block;
			&:focus {
				outline: none;
				background-color: $lesbotoc;
			}
		}
		.dropdown-menu {
			right: 0;
			min-width: unset;
			padding: 0;
		}
	}
	
	.gmaps-wrapper {
		& iframe {
			border: none;
			box-shadow: $box-shadow-img;
		}
	}
	
	.btn.back-btn {
		background-color: $lesbotoc;
		border: none;
		&:hover {
			color: $dark-petrol;
		}
		
		&.orange-btn {
			background-color: #eb5a49;
		}
		&.yellow-btn {
			background-color: #ec9704;
		}
	}
}

@media only screen and (max-width: 768px) {
	.event-website {
		display: inline-block;
		max-width: 200px;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.add-event-dropdown {
		& p {
			display: none;
		}

		& .btn-secondary {
			border-radius: 50%;
			& i {
				margin-right: unset !important;
			}
		}

		& .dropdown-menu {
			width: 3rem;
			background-color: $light-blue;
			border: none;

			& .dropdown-item {
				border: $lesbotoc 1px solid;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				& svg {
					margin-right: 0 !important;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------------------
SpeedDating.js
--------------------------------------------------------------------------------------*/
.speed-container {
  background-image: url("../../../assets/calendar_images/speeddating-heart.png");
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  border: solid $dark-petrol 10px;
  width: 70vw;
  margin: 50px auto;
  height: fit-content;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  border-radius: 10px;
  z-index: 60;
}

.speed-data {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;

  &__item {
    display: flex;
    margin-left: 10px;
  }

  & p {
    margin-left: 5px;
  }
}

.speed-form {
  width: 400px;
  min-height: 70vh;
  background-color: $user-beige-light;
  color: $dark-petrol;
  padding: 15px;
}

.speed-title h3 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Amatic SC", sans-serif, Arial, Helvetica, sans-serif;
}

.speed-label,
.speed-intro p {
  font-size: 11px;
  margin-bottom: 0;
}

.speed-intro p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}

.speed-input {
  width: 300px;
  height: 25px;
}

.speed-input-newsletter {
  width: 13px;
  height: 13px;
}

.speed-label-telefon {
  font-size: 10px;
}

.speed-form-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

  & input[type="text"],
  input[type="email"] {
    font-size: 11px;
    margin-right: 20px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & svg {
    margin-left: 20px;
  }
}

.checkbox-input {
  width: fit-content;
}

.checkbox-cont {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-right: 20px;

  & p {
    font-size: 11px;
    margin: 0;
  }
}

.swal-overlay {
  background-color: rgb(122, 182, 203, 0.45);
}

.speed-form-cont input:invalid {
  border: 1px solid red;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .speed-container {
    background-image: unset;
    background-size: unset;
    background-position-x: unset;
    background-position-y: unset;
    background-repeat: unset;
    border: unset;
    // margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid $lesbotoc-dark;
    // background-color: $dark-petrol;
  }
}
