*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	background-color:#feebdd ;
}

.App {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
}

/* * {
	border: 2px red solid;
} */