*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color:#feebdd ;
}

.App {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
}
